In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data=pd.read_csv('car.csv')
data.index=range(0,len(data))
data

     buying  maint  doors persons lug_boot safety accept
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [3]:
#dt1={'2':1,'3':1,'4':1}
#data.replace(dt1,inplace=True)
#data

In [4]:
dt={'vhigh':3,'high':2,'med':1,'low':0,'small':0,'big':2,'unacc':0,'acc':1,'good':2,'vgood':3,'more':1,'5more':1}
data.replace(dt,inplace=True)
data

      buying  maint doors persons  lug_boot  safety  accept
0          3      3     2       2         0       0       0
1          3      3     2       2         0       1       0
2          3      3     2       2         0       2       0
3          3      3     2       2         1       0       0
4          3      3     2       2         1       1       0
...      ...    ...   ...     ...       ...     ...     ...
1723       0      0     1       1         1       1       2
1724       0      0     1       1         1       2       3
1725       0      0     1       1         2       0       0
1726       0      0     1       1         2       1       2
1727       0      0     1       1         2       2       3

[1728 rows x 7 columns]

In [10]:
data.astype({'doors': 'int64','persons':'int64'}).dtypes

buying      int64
maint       int64
doors       int64
persons     int64
lug_boot    int64
safety      int64
accept      int64
dtype: object

In [11]:
X=data.drop(columns=['accept'])
y=pd.DataFrame(data['accept'])
X,y

(      buying  maint doors persons  lug_boot  safety
 0          3      3     2       2         0       0
 1          3      3     2       2         0       1
 2          3      3     2       2         0       2
 3          3      3     2       2         1       0
 4          3      3     2       2         1       1
 ...      ...    ...   ...     ...       ...     ...
 1723       0      0     1       1         1       1
 1724       0      0     1       1         1       2
 1725       0      0     1       1         2       0
 1726       0      0     1       1         2       1
 1727       0      0     1       1         2       2

 [1728 rows x 6 columns],
       accept
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 1723       2
 1724       3
 1725       0
 1726       2
 1727       3

 [1728 rows x 1 columns])

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
len(X_train),len(X_test)

(1382, 346)

# Decision Tree

In [13]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error,accuracy_score

clf = tree.DecisionTreeClassifier(max_depth=10)
clf = clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9508670520231214

# KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 7)
knn = knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)
accuracy_score(y_test,y_pred)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.9132947976878613